<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- 引入jdbc配置文件 数据库连接配置-->
    <context:property-placeholder location="classpath:config/jdbc.properties"/>
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc_driverClassName}"/>
        <property name="url" value="${jdbc_url}"/>
        <property name="username" value="${jdbc_username}"/>
        <property name="password" value="${jdbc_password}"/>
        <!-- 连接池最大使用连接数 -->
        <property name="maxActive" value="20"/>
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="1"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="60000" />
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="3" />
        <!-- 自动清除无用连接 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 清除无用连接的等待时间 -->
        <property name="removeAbandonedTimeout" value="180" />
        <!-- 连接属性 -->
        <property name="connectionProperties" value="clientEncoding=UTF-8" />
    </bean>
    <!--事务管理-->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource"  ref="dataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!-- mybatis文件配置，扫描所有mapper文件 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:config/mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>
    <!--配置mapper-->
    <bean id="announceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.AnnounceMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="applyMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.ApplyMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="atMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.AtMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>

    <bean id="cityMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.CityMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="contentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.ContentMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="countryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.CountryMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="exprMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.ExprMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="fileGroupMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.FileGroupMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="fileMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.FileMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="friendGroupMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.FriendGroupMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="friendMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.FriendMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="imagineMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.ImagineMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="locationMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.LocationMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="mailboxGroupMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.MailboxGroupMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="mailboxMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.MailboxMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="mailMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.MailMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="messageMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.MessageMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="nominateMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.NominateMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="occupationMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.OccupationMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="organizationMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.OrganizationMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="receiptMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.ReceiptMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="schoolMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.SchoolMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="sessionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.SessionMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="userGroupMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.UserGroupMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.UserMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="userSchoolMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.UserSchoolMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="videoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.VideoMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <bean id="voiceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="cn.SkyShadow.dao.VoiceMapper"/>
        <property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
    </bean>
    <!--applyHandler-->
    <bean id="applyHandlerFactory" class="cn.SkyShadow.factory.ApplyHandlerFactory">
        <constructor-arg name="modifyOrganizationApplyHandler" ref="modifyOrganizationApplyHandler"/>
        <constructor-arg name="addAdminApplyHandler" ref="addAdminApplyHandler"/>
        <constructor-arg name="applyParentOrgApplyHandler" ref="applyParentOrgApplyHandler"/>
        <constructor-arg name="applyUnlockParentOrgApplyHandler" ref="applyUnlockParentOrgApplyHandler"/>
        <constructor-arg name="deliverOrgApplyHandler" ref="deliverOrgApplyHandler"/>
    </bean>
    <bean id="modifyOrganizationApplyHandler" class="cn.SkyShadow.service.Impl.applyHandler.ModifyOrganizationApplyHandler">
        <constructor-arg name="applyMapper" ref="applyMapper"/>
        <constructor-arg name="organizationMapper" ref="organizationMapper"/>
    </bean>
    <bean class="cn.SkyShadow.service.Impl.applyHandler.AddAdminApplyHandler" id="addAdminApplyHandler">
        <constructor-arg name="applyMapper" ref="applyMapper"/>
        <constructor-arg name="organizationMapper" ref="organizationMapper"/>
    </bean>
    <bean class="cn.SkyShadow.service.Impl.applyHandler.ApplyParentOrgApplyHandler" id="applyParentOrgApplyHandler">
        <constructor-arg name="organizationMapper" ref="organizationMapper"/>
        <constructor-arg name="applyMapper" ref="applyMapper"/>
    </bean>
    <bean class="cn.SkyShadow.service.Impl.applyHandler.ApplyUnlockParentOrgApplyHandler" id="applyUnlockParentOrgApplyHandler">
        <constructor-arg name="organizationMapper" ref="organizationMapper"/>
        <constructor-arg name="applyMapper" ref="applyMapper"/>
    </bean>
    <bean class="cn.SkyShadow.service.Impl.applyHandler.DeliverOrgApplyHandler" id="deliverOrgApplyHandler">
        <constructor-arg name="organizationMapper" ref="organizationMapper"/>
        <constructor-arg name="applyMapper" ref="applyMapper"/>
    </bean>
    <!--receiptHandler-->
    <bean class="cn.SkyShadow.factory.ReceiptHandlerFactory" id="receiptHandlerFactory">
        <constructor-arg name="modifyOrganizationReceiptHandler" ref="modifyOrganizationReceiptHandler"/>
        <constructor-arg name="addAdminReceiptHandler" ref="addAdminReceiptHandler"/>
        <constructor-arg name="applyParentOrgReceiptHandler" ref="applyParentOrgReceiptHandler"/>
        <constructor-arg name="applyUnlockParentOrgReceiptHandler" ref="applyUnlockParentOrgReceiptHandler"/>
        <constructor-arg name="deliverOrgReceiptHandler" ref="deliverOrgReceiptHandler"/>
    </bean>
    <bean id="modifyOrganizationReceiptHandler" class="cn.SkyShadow.service.Impl.receiptHandler.ModifyOrganizationReceiptHandler">
        <constructor-arg name="organizationMapper" ref="organizationMapper"/>
        <constructor-arg name="receiptMapper" ref="receiptMapper"/>
    </bean>
    <bean class="cn.SkyShadow.service.Impl.receiptHandler.AddAdminReceiptHandler" id="addAdminReceiptHandler">
        <constructor-arg name="organizationMapper" ref="organizationMapper"/>
        <constructor-arg name="receiptMapper" ref="receiptMapper"/>
    </bean>
    <bean class="cn.SkyShadow.service.Impl.receiptHandler.ApplyParentOrgReceiptHandler" id="applyParentOrgReceiptHandler">
        <constructor-arg name="organizationMapper" ref="organizationMapper"/>
        <constructor-arg name="receiptMapper" ref="receiptMapper"/>
    </bean>
    <bean class="cn.SkyShadow.service.Impl.receiptHandler.ApplyUnlockParentOrgReceiptHandler" id="applyUnlockParentOrgReceiptHandler">
        <constructor-arg name="organizationMapper" ref="organizationMapper"/>
        <constructor-arg name="receiptMapper" ref="receiptMapper"/>
    </bean>
    <bean class="cn.SkyShadow.service.Impl.receiptHandler.DeliverOrgReceiptHandler" id="deliverOrgReceiptHandler">
        <constructor-arg name="organizationMapper" ref="organizationMapper"/>
        <constructor-arg name="receiptMapper" ref="receiptMapper"/>
    </bean>
</beans>