<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.SkyShadow.dao.mailMapper">
	<resultMap id="BaseResultMap" type="cn.SkyShadow.model.mail">
		<id column="MAIL_ID" property="mailId" jdbcType="BIGINT" />
		<result column="HEADLINE" property="headline" jdbcType="VARCHAR" />
		<result column="SUBLINE" property="subline" jdbcType="VARCHAR" />
		<result column="SEND_TIME" property="sendTime" jdbcType="TIMESTAMP" />
		<result column="ISREADED" property="isreaded" jdbcType="CHAR" />
		<association column="SENDER_MAILBOX" property="senderMailbox"
			select="cn.SkyShadow.dao.mailboxMapper.selectByPrimaryKey"></association>
		<association column="RECEIVED_MAILBOX_GROUP" property="receivedMailboxGroup"
			select="cn.SkyShadow.dao.mailboxgroupMapper.selectgroup"></association>
		<collection column="CONTENT" property="content"
			select="cn.SkyShadow.dao.contentMapper.selectByPrimaryKey"></collection>
	</resultMap>
	<sql id="Base_Column_List">
		MAIL_ID, HEADLINE, SUBLINE, CONTENT, SENDER_MAILBOX,
		RECEIVED_MAILBOX_GROUP,
		SEND_TIME,
		ISREADED
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from mail
		where MAIL_ID = #{mailId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from mail
		where MAIL_ID = #{mailId,jdbcType=BIGINT}
	</delete>
	<insert id="insertSelective" parameterType="cn.SkyShadow.model.mail"
		keyProperty="mailId">
		insert into mail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="headline != null">
				HEADLINE,
			</if>
			<if test="subline != null">
				SUBLINE,
			</if>
			<if test="content != null">
				CONTENT,
			</if>
			<if test="senderMailbox != null">
				SENDER_MAILBOX,
			</if>
			<if test="receivedMailboxGroup != null">
				RECEIVED_MAILBOX_GROUP,
			</if>
			<if test="isreaded != null">
				ISREADED,
			</if>
			<if test="isdeleted != null">
				ISDELETED
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="headline != null">
				#{headline,jdbcType=VARCHAR},
			</if>
			<if test="subline != null">
				#{subline,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content[0].contentId,jdbcType=VARCHAR},
			</if>
			<if test="senderMailbox != null">
				#{senderMailbox.mailboxId,jdbcType=BIGINT},
			</if>
			<if test="receivedMailboxGroup != null">
				#{receivedMailboxGroup.groupId,jdbcType=BIGINT},
			</if>
			<if test="isreaded != null">
				#{isreaded,jdbcType=CHAR},
			</if>
			<if test="isdeleted != null">
				#{isdeleted,jdbcType=CHAR}
			</if>
		</trim>
	</insert>
</mapper>