<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.SkyShadow.dao.MailboxMapper">
    <resultMap id="BaseResultMap" type="cn.SkyShadow.model.Mailbox">
        <id column="MAILBOX_ID" property="mailboxId" jdbcType="BIGINT"/>
        <result column="BELONG_TYPE" property="belongType" jdbcType="CHAR"/>
        <association column="USER" property="user" javaType="cn.SkyShadow.model.User">
            <id column="USER_ID" jdbcType="BIGINT" property="userId"/>
            <result column="NICKNAME" jdbcType="VARCHAR" property="nickname"/>
            <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        </association>
        <association column="OCCUPATION" property="occupation" javaType="cn.SkyShadow.model.Occupation">
            <id column="OCCUPATION_ID" property="occupationId" jdbcType="BIGINT"/>
            <result column="OCCUPATION_NAME" property="name" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
        SELECT
            MAILBOX_ID,
            BELONG_TYPE,
            USER_ID,
            NICKNAME,
            USERNAME,
            OCCUPATION_ID,
            occupation.NAME AS `OCCUPATION_NAME`
        FROM mailbox
            LEFT JOIN user ON mailbox.USER = user.USER_ID
            LEFT JOIN occupation ON mailbox.OCCUPATION = occupation.OCCUPATION_ID
        WHERE MAILBOX_ID = #{mailboxId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM
            mailbox
        WHERE MAILBOX_ID = #{mailboxId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="cn.SkyShadow.model.Mailbox"
            keyProperty="mailboxId">
        insert into mailbox
        <trim prefix="(" suffix=")" suffixOverrides=",">
            BELONG_TYPE,
            USER,
            OCCUPATION,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{belongType,jdbcType=CHAR},
            #{user.userId,jdbcType=BIGINT},
            #{occupation.occupationId,jdbcType=BIGINT},
        </trim>
    </insert>
    <!--预留-->
    <select id="selectMails" parameterType="java.lang.Long"
            resultMap="cn.SkyShadow.dao.MailMapper.BaseResultMap">
        SELECT
        MAIL_ID,
        HEADLINE,
        SUB_LINE,
        CONTENT,
        SENDER_MAILBOX,
        RECEIVED_MAILBOX_GROUP,
        SEND_TIME,
        IS_READ
        FROM
        mail
        LEFT JOIN
        mailboxgroup ON mail.RECEIVED_MAILBOX_GROUP
        =
        mailboxgroup.GROUP_ID
        LEFT
        JOIN mailbox_mailboxgroup ON
        mailboxgroup.GROUP_ID =
        mailbox_mailboxgroup.MAILBOXGROUP_ID
        LEFT JOIN
        mailbox ON
        mailbox.MAILBOX_ID =
        mailbox_mailboxgroup.MAILBOXGROUP_ID
        WHERE
        mailbox.MAILBOX_ID = #{mailboxId,jdbcType=BIGINT}
    </select>
</mapper>