<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.SkyShadow.dao.OccupationMapper">
    <resultMap id="BaseResultMap" type="cn.SkyShadow.model.Occupation">
        <id column="OCCUPATION_ID" property="occupationId" jdbcType="BIGINT"/>
        <result column="OCCUPATION_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="RANK" property="rank" jdbcType="VARCHAR"/>
        <association column="ORGANIZATION" property="organization" javaType="cn.SkyShadow.model.Organization">
            <result column="ORG_NAME" property="name" jdbcType="VARCHAR"/>
            <result column="ORG_TYPE" property="type" jdbcType="VARCHAR"/>
        </association>
        <association property="mailbox" column="MAILBOX" javaType="cn.SkyShadow.model.Mailbox">
            <id column="MAILBOX_ID" property="mailboxId" jdbcType="BIGINT"/>
        </association>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM
            occupation
        WHERE OCCUPATION_ID = #{occupationId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="cn.SkyShadow.model.Occupation" keyProperty="occupationId">
        INSERT INTO occupation
        (NAME, ORGANIZATION, RANK
        )
        VALUES
            (#{name,jdbcType=VARCHAR},
             #{organization.orgId,jdbcType=BIGINT},
             #{rank,jdbcType=VARCHAR}
            )
    </insert>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
        SELECT
            OCCUPATION_ID,
            occupation.NAME AS `OCCUPATION_NAME`,
            organization.NAME AS `ORG_NAME`,
            organization.TYPE AS `ORG_TYPE`,
            ORGANIZATION,
            RANK,
            MAILBOX_ID
        FROM occupation
            LEFT JOIN mailbox ON mailbox.OCCUPATION =
                                 occupation.OCCUPATION_ID
            LEFT JOIN organization ON occupation.ORGANIZATION = organization.ORG_ID
        WHERE OCCUPATION_ID =
              #{occupationId,jdbcType=BIGINT}
    </select>
    <update id="update" parameterType="cn.SkyShadow.model.Occupation">
        update occupation
        <set>
            NAME = #{name,jdbcType=VARCHAR},
            ORGANIZATION = #{organization.orgId,jdbcType=BIGINT},
            RANK = #{rank,jdbcType=VARCHAR}
        </set>
        where OCCUPATION_ID = #{occupationId.occupationId,jdbcType=BIGINT}
    </update>
    <!--保留功能-->
    <select id="selectBaseInfo" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
        SELECT
        OCCUPATION_ID,
        NAME
        FROM occupation
        WHERE
        OCCUPATION_ID = #{occupationId,jdbcType=BIGINT}
    </select>
    <update id="addUser">
        INSERT INTO user_occupation(USER_ID,OCCUPATION) VALUES (#{userId,jdbcType=BIGINT},#{occId,jdbcType=BIGINT});
    </update>
    <update id="removeUser">
        DELETE FROM user_occupation WHERE USER_ID = #{userId,jdbcType=BIGINT} AND OCCUPATION = #{occId,jdbcType=BIGINT}
    </update>
</mapper>