<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.SkyShadow.dao.OccupationMapper">
	<resultMap id="BaseResultMap" type="cn.SkyShadow.model.Occupation">
		<id column="OCCUPATION_ID" property="occupationId" jdbcType="BIGINT" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<association column="ORGANIZATION" property="organization"
			select="cn.SkyShadow.dao.OrganizationMapper.selectBaseInfo"/>
		<association property="mailbox" column="MAILBOX"
			select="cn.SkyShadow.dao.MailboxMapper.selectByPrimaryKey"/>
	</resultMap>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
			OCCUPATION_ID, NAME, ORGANIZATION
		,MAILBOX_ID MAILBOX
		from occupation left join mailbox on mailbox.OCCUPATION =
		occupation.OCCUPATION_ID
		where OCCUPATION_ID =
		#{occupationId,jdbcType=BIGINT}
	</select>
	<select id="selectBaseInfo" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		OCCUPATION_ID, NAME
		from occupation
		where
		OCCUPATION_ID = #{occupationId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		occupation
		where OCCUPATION_ID = #{occupationId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.SkyShadow.model.Occupation" keyProperty="occupationId">
		insert into occupation
		(NAME, ORGANIZATION
		)
		values
		(#{name,jdbcType=VARCHAR},
		#{organization.orgId,jdbcType=BIGINT}
		)
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.SkyShadow.model.Occupation">
		update occupation
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="organization != null">
				ORGANIZATION = #{organization.orgId,jdbcType=BIGINT},
			</if>
		</set>
		where OCCUPATION_ID = #{occupationId.occupationId,jdbcType=BIGINT}
	</update>
</mapper>