<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.SkyShadow.dao.UserMapper">
	<resultMap id="BaseResultMap" type="cn.SkyShadow.model.User">
		<id column="USER_ID" jdbcType="BIGINT" property="userId" />
		<result column="USERNAME" jdbcType="VARCHAR" property="username" />
		<result column="PASSWORD" jdbcType="VARCHAR" property="password" />
		<result column="EMAIL" jdbcType="VARCHAR" property="email" />
		<result column="PHONE" jdbcType="VARCHAR" property="phone" />
		<result column="SEX" jdbcType="CHAR" property="sex" />
		<result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
		<result column="BIRTHDAY" jdbcType="DATE" property="birthday" />
		<association property="homePlace" column="HOME_PLACE"
			select="cn.SkyShadow.dao.LocationMapper.selectByPrimaryKey"/>
		<association property="livePlace" column="LIVE_PLACE"
			select="cn.SkyShadow.dao.LocationMapper.selectByPrimaryKey"/>
		<association property="nationality" column="NATIONALITY"
			select="cn.SkyShadow.dao.CountryMapper.selectByPrimaryKey"/>
		<association property="mailbox" column="USER_ID" select="selectMailbox"/>
		<collection property="friendGroups" column="USER_ID"
			select="selectFriendGroups"/>
		<collection property="occupationList" column="USER_ID"
			select="selectOccupations"/>
		<collection property="user_schools" column="USER_ID"
			select="selectUser_schools"/>
		<collection property="expressions" column="USER_ID" select="selectExpressions"/>
	</resultMap>
	<resultMap id="LoginResultMap" type="cn.SkyShadow.dto.user.LoginResult">
		<result column="result" jdbcType="VARCHAR" property="result" />
		<result column="resultNum" jdbcType="BIGINT" property="resultNum" />
	</resultMap>
	<resultMap type="cn.SkyShadow.dto.user.RegisterResult"
		id="RegisterResultMap">
		<result column="result" jdbcType="VARCHAR" property="result" />
		<result column="t_error" jdbcType="VARCHAR" property="t_error" />
	</resultMap>
	<resultMap id="PasswordProtected" type="cn.SkyShadow.dto.user.PasswordProtected">
        <result column="USER_ID" jdbcType="BIGINT" property="userId"/>
		<result column="EMAIL" jdbcType="VARCHAR" property="Email"/>
		<result column="PHONE" jdbcType="VARCHAR" property="Phone"/>
		<result column="EMAIL_VALIDATE" jdbcType="VARCHAR" property="EmailValidate"/>
		<result column="PHONE_VALIDATE" jdbcType="VARCHAR" property="PhoneValidate" />
		<result column="PASSWORD_CHANGE_VALIDATE" jdbcType="VARCHAR" property="PasswordChangeValidate"/>
	</resultMap>
	<select id="selectExpressions" parameterType="java.lang.Long"
		resultMap="cn.SkyShadow.dao.ExprMapper.BaseResultMap">
		select
		EXPR_ID, IMG_ID, IS_PUBLIC
		from expr
		where USER =
		#{userId,jdbcType=BIGINT}
	</select>
	<select id="selectUser_schools" parameterType="java.lang.Long"
		resultMap="cn.SkyShadow.dao.UserSchoolMapper.BaseResultMap">
		SELECT
		`user`.USER_ID USER_ID,school.SCHOOL_ID SCHOOL_ID,
		ADMISSION_TIME
		FROM
		`user`
		LEFT JOIN user_school ON `user`.USER_ID =
		user_school.USER_ID
		LEFT JOIN school ON school.SCHOOL_ID =
		user_school.SCHOOL_ID
		WHERE `user`.USER_ID =#{userId,jdbcType=BIGINT}
		AND user_school.SCHOOL_ID IS NOT NULL
	</select>
	<select id="selectOccupations" parameterType="java.lang.Long"
		resultMap="cn.SkyShadow.dao.OccupationMapper.BaseResultMap">
		SELECT
		occupation.OCCUPATION_ID OCCUPATION_ID, NAME,
		ORGANIZATION
		FROM
		`user`
		LEFT JOIN user_occupation ON
		user_occupation.USER_ID = `user`.USER_ID
		LEFT JOIN occupation ON
		occupation.OCCUPATION_ID =
		user_occupation.OCCUPATION
		WHERE
		`user`.USER_ID =#{userId,jdbcType=BIGINT}
	</select>
	<select id="selectFriendGroups" parameterType="java.lang.Long"
		resultMap="cn.SkyShadow.dao.FriendGroupMapper.BaseResultMap">
		SELECT FRIEND_GROUP_ID,`NAME`,`USER` FROM friendgroup WHERE
		friendgroup.USER =#{userId,jdbcType=BIGINT}
	</select>
	<select id="selectMailbox" parameterType="java.lang.Long"
		resultMap="cn.SkyShadow.dao.MailboxMapper.BaseResultMap">
		select
		MAILBOX_ID, BELONG_TYPE, OCCUPATION
		from mailbox
		where USER =
		#{userId,jdbcType=BIGINT}
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
			USER_ID, USERNAME, PASSWORD, EMAIL, PHONE, SEX,NICKNAME,
			NATIONALITY, BIRTHDAY,
			HOME_PLACE,
			LIVE_PLACE
		from user
		where USER_ID = #{userId,jdbcType=BIGINT}
	</select>
	<select id="selectBaseInfo" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		USER_ID,USERNAME,NICKNAME
		from user
		where USER_ID =
		#{userId,jdbcType=BIGINT}
	</select>
	<select id="getLoginResult" parameterType="cn.SkyShadow.model.User"
		resultMap="LoginResultMap">
		CALL
		login(#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR});
	</select>
	<select id="getRegisterResult" parameterType="cn.SkyShadow.model.User"
		resultMap="RegisterResultMap">
		CALL
		register(#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR})
	</select>
	<select id="HasUserName" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT user_HasUsername(#{username,jdbcType=VARCHAR})
	</select>
	<select id="HasEmail" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT user_HasEmail(#{email,jdbcType=VARCHAR})
	</select>
	<select id="HasPhone" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT user_HasPhone(#{phone,jdbcType=VARCHAR},'zh')
	</select>
	<select id="getPasswordProtect" parameterType="java.lang.Long" resultMap="PasswordProtected">
		SELECT USER_ID,EMAIL,PHONE,EMAIL_VALIDATE,PHONE_VALIDATE,PASSWORD_CHANGE_VALIDATE FROM `user` WHERE USER_ID = #{userId,jdbcType=BIGINT};
	</select>
	<update id="validateEmail">
		UPDATE `user` SET EMAIL_VALIDATE = 'Y', EMAIL = #{email,jdbcType=VARCHAR} WHERE `user`.USER_ID = #{userId,jdbcType=BIGINT}
	</update>
	<update id="validatePhone">
		UPDATE `user` SET PHONE_VALIDATE = 'Y', PHONE = #{phone,jdbcType=VARCHAR} WHERE `user`.USER_ID = #{userId,jdbcType=BIGINT}
	</update>
	<update id="unValidateEmail">
		UPDATE `user` SET EMAIL_VALIDATE = 'N',PHONE = NULL WHERE `user`.USER_ID = #{userId,jdbcType=BIGINT}
	</update>
	<update id="unValidatePhone">
		UPDATE `user` SET PHONE_VALIDATE = 'N',PHONE = NULL WHERE `user`.USER_ID = #{userId,jdbcType=BIGINT}
	</update>
	<select id="selectBaseInfoByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
		CALL selectBaseInfoByLoginName(#{loginname,jdbcType=VARCHAR})
	</select>
	<update id="OpenOrClosePasswordChangeValidate">
		CALL openOrClosePasswordChangeValidate( #{userId,jdbcType=BIGINT})
	</update>
    <update id="changePassword">
        UPDATE user SET PASSWORD = md5(#{password,jdbcType=VARCHAR}) WHERE USER_ID = #{userId,jdbcType=BIGINT}
    </update>
	<select id="Search" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
			DISTINCT USER_ID,USERNAME,NICKNAME
		from user
		WHERE NICKNAME LIKE CONCAT('%',#{str,jdbcType=VARCHAR},'%') OR user.USERNAME LIKE CONCAT('%',#{str,jdbcType=VARCHAR},'%')
	</select>
</mapper>