<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.SkyShadow.dao.videoMapper">
	<resultMap id="BaseResultMap" type="cn.SkyShadow.model.video">
		<id column="VIDEO_ID" property="videoId" jdbcType="BIGINT" />
		<result column="LENGTH" property="length" jdbcType="INTEGER" />
		<result column="FILE_TYPE" property="fileType" jdbcType="CHAR" />
		<association column="FILE_REWID" property="fileRewid"
			select="cn.SkyShadow.dao.fileMapper.selectByPrimaryKey"></association>
		<association column="FILE_ZIPID" property="fileZipid"
			select="cn.SkyShadow.dao.fileMapper.selectByPrimaryKey"></association>
	</resultMap>
	<sql id="Base_Column_List">
		VIDEO_ID, FILE_REWID, FILE_ZIPID, LENGTH, FILE_TYPE
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from video
		where VIDEO_ID = #{videoId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from video
		where VIDEO_ID = #{videoId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.SkyShadow.model.video" keyProperty="videoId">
		insert into video (
		FILE_REWID, FILE_ZIPID,
		LENGTH, FILE_TYPE)
		values
		(#{fileRewid.fileId,jdbcType=BIGINT},
		#{fileZipid.fileId,jdbcType=BIGINT},
		#{length,jdbcType=INTEGER},
		#{fileType,jdbcType=CHAR})
	</insert>
</mapper>