<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.SkyShadow.dao.VideoMapper">
	<resultMap id="BaseResultMap" type="cn.SkyShadow.model.Video">
		<id column="VIDEO_ID" property="videoId" jdbcType="BIGINT" />
		<result column="LENGTH" property="length" jdbcType="INTEGER" />
		<result column="FILE_TYPE" property="fileType" jdbcType="CHAR" />
		<association column="FILE_RAW_ID" property="fileRawId"
			select="cn.SkyShadow.dao.FileMapper.selectByPrimaryKey"/>
		<association column="FILE_ZIP_ID" property="fileZipId"
			select="cn.SkyShadow.dao.FileMapper.selectByPrimaryKey"/>
	</resultMap>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		VIDEO_ID, FILE_RAW_ID, FILE_ZIP_ID, LENGTH, FILE_TYPE
		from video
		where VIDEO_ID = #{videoId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from video
		where VIDEO_ID = #{videoId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.SkyShadow.model.Video" keyProperty="videoId">
		insert into video (
		FILE_RAW_ID, FILE_ZIP_ID,
		LENGTH, FILE_TYPE)
		values
		(#{fileRawId.fileId,jdbcType=BIGINT},
		#{fileZipId.fileId,jdbcType=BIGINT},
		#{length,jdbcType=INTEGER},
		#{fileType,jdbcType=CHAR})
	</insert>
</mapper>