<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.SkyShadow.dao.voiceMapper">
	<resultMap id="BaseResultMap" type="cn.SkyShadow.model.voice">
		<id column="VOICE_ID" property="voiceId" jdbcType="BIGINT" />
		<result column="LENGTH" property="length" jdbcType="TINYINT" />
		<association column="FILE_ID" property="fileId"
			select="cn.SkyShadow.dao.fileMapper.selectByPrimaryKey"></association>
	</resultMap>
	<sql id="Base_Column_List">
		VOICE_ID, FILE_ID, LENGTH
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from voice
		where VOICE_ID = #{voiceId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from voice
		where VOICE_ID = #{voiceId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.SkyShadow.model.voice" keyProperty="voiceId">
		insert into voice (FILE_ID, LENGTH
		)
		values (#{fileId.fileId,jdbcType=BIGINT},
		#{length,jdbcType=TINYINT}
		)
	</insert>
</mapper>